<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login</key>
	<dict>
		<key>Url</key>
		<string>https://login.taobao.com/</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Element</key>
				<string>//*[@id=&quot;J_LoginBox&quot;]/div[1]/div[1]</string>
			</dict>
			<dict>
				<key>Type</key>
				<integer>1</integer>
				<key>Element</key>
				<string>//*[@id=&quot;TPL_username_1&quot;]</string>
				<key>Value</key>
				<string>nwyf****@gmail.com</string>
			</dict>
			<dict>
					<key>Type</key>
					<integer>1</integer>
					<key>Element</key>
					<string>//*[@id=&quot;TPL_password_1&quot;]</string>
					<key>Value</key>
					<string>******</string>
			</dict>
			<dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Element</key>
				<string>//*[@id=&quot;J_SubmitStatic&quot;]</string>
			</dict>
		</array>
	</dict>
	<key>Details</key>
	<array>
		<dict>
			<key>Url</key>
			<string>https://detail.tmall.com/item.htm?spm=a1z10.4-b-s.w5003-15631450450.1.i2Yt0r&amp;id=537218334389&amp;rn=6598c1cdef9c2dabe32617da1f3f1587&amp;scene=taobao_shop</string>
			<key>Actions</key>
			<array>
				<dict>
					<key>Type</key>
					<integer>0</integer>
					<key>Element</key>
					<string>//*[@id=&quot;J_DetailMeta&quot;]/div[1]/div[1]/div/div[4]/div/div/dl[1]/dd/ul/li[5]/a</string>
				</dict>
				<dict>
					<key>Type</key>
					<integer>0</integer>
					<key>Element</key>
					<string>//*[@id=&quot;J_DetailMeta&quot;]/div[1]/div[1]/div/div[4]/div/div/dl[2]/dd/ul/li[2]/a/span</string>
				</dict>
				<dict>
					<key>Type</key>
					<integer>0</integer>
					<key>Element</key>
					<string>//*[@id=&quot;J_LinkBuy&quot;]</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Submit</key>
	<dict>
		<key>Type</key>
		<integer>0</integer>
		<key>Element</key>
		<string>//*[@id=&quot;submitOrder_1&quot;]/div/a&apos;</string>
	</dict>
</dict>
</plist>
